<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Product Details</h1>
   <table border="1" cellpadding="10" >
       <thead>
        <tr>
            <th>Pid</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Catogory</th>
        </tr>
       </thead>
       <tbody>
       <tr th:each="p:${products}">
           <td th:text="${p.pid}"></td>
          <td th:text="${p.product_name}"></td>
           <td th:text="${p.price}"></td>
           <td th:text="${p.catogory}"></td>
       </tr>
       </tbody>
   </table><br><br>
    <a href="/api/product"><button>Back</button></a>
</div>
</body>
</html>